.card-central {

}

.card-left {

}

.bem-vindo {
  margin-left: 400px;
  text-align: center;

}

.bv2 {
  margin: auto;
  width: 50%;
  padding: 10px;
  text-align: center;
}

.icon-bv {
  width: 100%;
}

.title-text {
  margin-top: 20px;
  font-family: 'Alfa Slab One', cursive;
  color: #1976D2;
}

.card-right {

}

.form-login {
  background-color: #242A32;
  width: 40em;
  height: 40em;
  padding: 9em;
  margin-right: 400px;
}

.recovery-button {
  text-align: center;
  margin-bottom: 14px;
  cursor: pointer;
}

.login-card {
  margin-top: 60px;
  background-color: #2F3848;
  width: 90%;
}

.card-part-1 {
  background: #2F3848;
}

mat-label {
  color: white;
}

.button-login {
  font-size: 30px;
  width: 240px;
  height: 60px;
  margin-bottom: 20px;
  color: white;
  background-color: #81D2C7;
}

//Geral
.texto-b {
  color: white;
}

.texto-p {
  color: black;
}
