<app-menu-simples></app-menu-simples>

<div class="card-central">

  <mat-grid-list cols="2" rowHeight="750px">
    <mat-grid-tile class="card-left">
      <div class="bem-vindo">
        <div class="bv2">
          <img src="../../../assets/icons/png/experiment.png" class="icon-bv">
          <h1 class="title-text">Sistema de Controle de Experimentação em Animais</h1>
        </div>
      </div>
    </mat-grid-tile>

    <mat-grid-tile class="card-right">
      <mat-card class="form-login">
        <div class="card-container">
          <h2 class="texto-b">
            Olá, seja bem-vindo 👋👋
          </h2>
        </div>

        <form class="form mt-4" (ngSubmit)="login()" #loginForm="ngForm">
          <div class="form-group">
            <input
              class="form-control"
              placeholder="Nome do usuário"
              [(ngModel)]="username"
              name="username"
              #campoUsername="ngModel"
              required
            />
            <app-mensagem
              *ngIf="campoUsername.invalid && campoUsername.touched"
              mensagem="Usuário obrigatório"
            ></app-mensagem>
          </div>

          <div class="form-group">
            <input
              type="password"
              class="form-control"
              placeholder="Senha"
              [(ngModel)]="senha"
              name="senha"
              #campoSenha="ngModel"
              required
            />
            <app-mensagem
              *ngIf="campoSenha.invalid && campoSenha.touched"
              mensagem="Senha obrigatória"
            ></app-mensagem>
          </div>

          <div class="recovery-button">
            <mat-chip-list class="recovery-button">
              <mat-chip class="recovery-button" [routerLink]="['/recovery']" routerLinkActiver="router-link-active">
                Esqueci minha senha
              </mat-chip>
            </mat-chip-list>
          </div>

          <button
            type="submit"
            class="btn btn-primary btn-block"
            [disabled]="loginForm.invalid"
          >
            Login
          </button>
          <button
            class="btn btn-primary btn-block"
            [routerLink]="['/cadastro']"
            routerLinkActive="router-link-active"
          >
            Criar conta
          </button>
        </form>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>

</div>

<!-- <div class="card-container">

  <mat-card class="login-card">
    <mat-grid-list cols="2" rowHeight="750px">
      <mat-grid-tile class="card-part-1">
        <img src="../../../assets/icons/png/experiment.png">
        <h1>SCEAPP</h1>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="content" role="main">

        <div class="card-container">
          <h2>
            Olá, Seja bem-vindo
          </h2>
        </div>

        <form class="form mt-4" (ngSubmit)="login()" #loginForm="ngForm">
          <div class="form-group">
            <input
              class="form-control"
              placeholder="Nome do usuário"
              [(ngModel)]="username"
              name="username"
              #campoUsername="ngModel"
              required
            />
            <app-mensagem
              *ngIf="campoUsuario.invalid && campoUsuario.touched"
              mensagem="Usuário obrigatório"
            ></app-mensagem>
          </div>

          <div class="form-group">
            <input
              type="password"
              class="form-control"
              placeholder="Senha"
              [(ngModel)]="senha"
              name="senha"
              #campoSenha="ngModel"
              required
            />
            <app-mensagem
              *ngIf="campoSenha.invalid && campoSenha.touched"
              mensagem="Senha obrigatória"
            ></app-mensagem>
          </div>

          <button
            type="submit"
            class="btn btn-primary btn-block"
            [disabled]="loginForm.invalid"
          >
            Login
          </button>
        </form>


        <a>Não tem uma conta?</a>

        <div class="card-container">
          <a class="card" rel="noopener" [routerLink]="['/cadastro']" routerLinkActive="router-link-active" >
            <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M9.4 16.6L4.8 12l4.6-4.6L8 6l-6 6 6 6 1.4-1.4zm5.2 0l4.6-4.6-4.6-4.6L16 6l6 6-6 6-1.4-1.4z"/></svg>
            <span>Criar Conta</span>
            <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
          </a>
        </div>

      </div>
    </mat-grid-tile>
    </mat-grid-list>
  </mat-card>

</div> -->


