<app-menu-simples></app-menu-simples>

<div class="card-container">

  <mat-card class="login-card">
    <mat-grid-list cols="2" rowHeight="750px">
      <mat-grid-tile class="card-part-1">
        <img src="../../../assets/icons/png/experiment.png">
        <!-- <h1>SCEAPP</h1> -->
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="content" role="main">

        <div class="card-container">
          <h2>
            Olá, Seja bem-vindo
          </h2>
        </div>

        <form class="form mt-4" (ngSubmit)="login()" #loginForm="ngForm">
          <div class="form-group">
            <input
              class="form-control"
              placeholder="Nome do usuário"
              [(ngModel)]="user.username"
              name="usuario"
              #campoUsuario="ngModel"
              required
            />
            <!-- <app-mensagem
              *ngIf="campoUsuario.invalid && campoUsuario.touched"
              mensagem="Usuário obrigatório"
            ></app-mensagem> -->
          </div>

          <div class="form-group">
            <input
              type="password"
              class="form-control"
              placeholder="Senha"
              [(ngModel)]="user.senha"
              name="senha"
              #campoSenha="ngModel"
              required
            />
            <!-- <app-mensagem
              *ngIf="campoSenha.invalid && campoSenha.touched"
              mensagem="Senha obrigatória"
            ></app-mensagem> -->
          </div>

          <button
            type="submit"
            class="btn btn-primary btn-block"
            [disabled]="loginForm.invalid"
          >
            Login
          </button>
        </form>

        <!-- <form (ngSubmit)="login()">
          <div class="form-group">
            <mat-form-field appearance="outline" style="width: 300px;">
              <mat-label>
                Username
              </mat-label>
              <input matInput placeholder="" type="text" class="form-control" name="username" [(ngModel)]="user.username" required #username="ngModel">
              <mat-icon matSuffix>badge</mat-icon>
            </mat-form-field>
          </div>

          <div class="form-group">
            <mat-form-field appearance="outline" style="width: 300px;">
              <mat-label>Senha</mat-label>
              <input matInput [type]="hide ? 'password' : 'text'" class="form-control" name="senha" [(ngModel)]="user.senha" required #senha="ngModel">
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
            </mat-form-field>
          </div>

          <a [routerLink]="['/recovery']" routerLinkActive="router-link-active" >Esqueci minha senha</a>

          <div class="form-group" [routerLink]="['/home']" routerLinkActive="router-link-active">
            <button mat-button class="button-login" color="primary">
              Login
            </button>
          </div>
        </form> -->

        <a>Não tem uma conta?</a>

        <div class="card-container">
          <a class="card" rel="noopener" [routerLink]="['/cadastro']" routerLinkActive="router-link-active" >
            <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M9.4 16.6L4.8 12l4.6-4.6L8 6l-6 6 6 6 1.4-1.4zm5.2 0l4.6-4.6-4.6-4.6L16 6l6 6-6 6-1.4-1.4z"/></svg>
            <span>Criar Conta</span>
            <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
          </a>
        </div>

      </div>
    </mat-grid-tile>
    </mat-grid-list>
  </mat-card>

</div>


