<app-toolbar-logado></app-toolbar-logado>

<div class="center">
  <mat-card class="menu-item" style="width: 20%" (click)="reloadPageAtualizacao()">
    <img mat-card-image src="../../../../assets/icons/png/menu/refresh.png" alt="icon">
    <mat-card-content class="espacamento">
      <mat-card-title>
        Atualização Cadastral ⠀⠀⠀⠀⠀⠀
      </mat-card-title>
    </mat-card-content>
  </mat-card>

  <mat-card class="menu-item" style="width: 20%" (click)="reloadPageAtualizacao()">
    <img mat-card-image src="../../../../assets/icons/png/menu/refresh.png" alt="icon">
    <mat-card-content class="espacamento">
      <mat-card-title>
        Analisar Pesquisadores ⠀⠀⠀⠀⠀⠀
      </mat-card-title>
    </mat-card-content>
  </mat-card>

  <mat-card class="menu-item" style="width: 20%" (click)="reloadPageAtualizacao()">
    <img mat-card-image src="../../../../assets/icons/png/menu/clipboard.png" alt="icon">
    <mat-card-content class="espacamento">
      <mat-card-title>
        Analisar Protocolos ⠀⠀⠀⠀⠀⠀
      </mat-card-title>
    </mat-card-content>
  </mat-card>

</div>


