.center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.menu-item {
  background-color: #1976d2;
  // text-align: center;
  width: 15%;
  margin: 10px 10px;
  cursor: pointer;
  color: white;
}

.icon {
  width: 60%;
  padding-top: 20px;
}

//outros
.espacamento {
  // text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.menu-item:hover {
  background-color: #1b85ee;
  transition: 500ms;
}
