<!-- <app-menu-simples></app-menu-simples> -->

<!-- irá exibir splash de carregamento caso o formulario seja valido e cadastrado -->
<app-splash-screen  *ngIf="showSplash == true"></app-splash-screen>

<section class="h-100 h-custom gradient-custom-2">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12">
        <!-- inicio da escuta do formulario -->
        <form class="form mt-2" [formGroup]="cadastroForm" (submit)="cadastrar()">
          <div class="card card-registration card-registration-2" style="border-radius: 15px;">
            <div class="card-body p-0">
              <div class="row g-0">
                <div class="col-lg-6 bg-c">
                  <div class="p-5">

                    <h3 class="fw-normal mb-5" style="color: #FFF;">Informações para Login</h3>
                    <div class="mb-2 pb-2">
                      <mat-form-field appearance="outline" style="width: 30em;">
                        <mat-label>
                          Username
                        </mat-label>
                        <input matInput placeholder="" required formControlName="username" style="color: white">
                        <mat-icon matSuffix style="color: white">badge</mat-icon>
                      </mat-form-field>
                    </div>

                    <div class="mb-2 pb-2">
                      <mat-form-field appearance="outline" style="width: 30em;">
                        <mat-label>Email</mat-label>
                        <input matInput [formControl]="email" required  formControlName="email" style="color: white">
                        <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
                        <mat-icon matSuffix style="color: white">email</mat-icon>
                      </mat-form-field>
                    </div>

                    <div class="mb-2 pb-2">
                      <mat-form-field appearance="outline" style="width: 30em;">
                        <mat-label>Senha</mat-label>
                        <input matInput [type]="hide ? 'password' : 'text'" formControlName="senha" style="color: white">
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                          <mat-icon style="color: white">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                      </mat-form-field>
                      <app-mensagem *ngIf="cadastroForm.errors?.senhaIgualUsuario" mensagem="A senha deve ser diferente do usuário"></app-mensagem>
                    </div>

                  </div>
                </div>
                <div class="col-lg-6 bg-indigo text-white">
                  <div class="p-5">
                    <h3 class="fw-normal mb-5">Dados Adicionais</h3>

                    <div class="mb-2 pb-2">
                      <mat-form-field appearance="outline" style="width: 30em;">
                        <mat-label>
                          Nome
                        </mat-label>
                        <input matInput placeholder="" required formControlName="nome" style="color: white">
                        <mat-icon matSuffix style="color: white">assignment_ind</mat-icon>
                      </mat-form-field>
                    </div>

                    <div class="mb-2 pb-2">
                      <mat-form-field appearance="outline" style="width: 30em;">
                        <mat-label>CPF</mat-label>
                        <input matInput placeholder="" maxlength="11" required formControlName="cpf" style="color: white">
                        <mat-icon matSuffix style="color: white">label</mat-icon>
                      </mat-form-field>
                    </div>

                    <div class="mb-2 pb-2">
                      <mat-form-field appearance="fill" style="width: 30em;">
                        <mat-label>Data de Nascimento</mat-label>
                        <input matInput [matDatepicker]="picker" required formControlName="dataDeNascimento" style="color: white">
                        <mat-datepicker-toggle matSuffix [for]="picker" style="color: white"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                      </mat-form-field>
                    </div>

                    <div class="mb-2 pb-2">
                      <mat-form-field appearance="outline" style="width: 30em;" class="diferente">
                        <mat-label>Sexo</mat-label>
                        <mat-select required formControlName="sexo">
                          <mat-option value="Masculino">Masculino</mat-option>
                          <mat-option value="Feminino">Feminino</mat-option>
                          <mat-option value="Outro">Outro</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>

                    <button mat-button class="button-login" color="primary">
                      Cadastrar
                    </button>

                    <mat-card class="form-login2">
                      <a>Tem uma conta?</a>

                      <button mat-button class="button-login-2" color="primary" style="margin-left: 10px;" [routerLink]="['/login']" routerLinkActive="router-link-active">
                        Fazer Login
                      </button>
                    </mat-card>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>

      </div>
    </div>
  </div>
</section>
