<mat-toolbar style="background-color: #1976d2; color: white">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="back()">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <!-- <img
    width="40"
    alt="Angular Logo"
    src="../assets/icons/png/experiment.png"
  /> -->
  <span style="margin-left: 10px;">SCEAPP</span>
  <span class="icons-direita"></span>
  <button mat-button *ngIf="user$ | async as user">
    <a class="mr-1">{{ user.username }}</a>
  </button>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>info</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon"  (click)="logout()">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>
