<app-toolbar-logado></app-toolbar-logado>

<div class="center">

  <mat-card class="menu-item">
    <img mat-card-image src="../../../assets/icons/png/outline_assignment_turned_in_black_48dp.png" class="icon">
    <mat-card-title>
      Autorizar Cadastros
      ⠀⠀⠀⠀⠀⠀
    </mat-card-title>
  </mat-card>

  <mat-card class="menu-item">
    <img mat-card-image src="../../../assets/icons/png/outline_contact_page_black_48dp.png" class="icon">
    <mat-card-title>
      Analisar Dados de Pesquisadores
    </mat-card-title>
  </mat-card>

  <mat-card class="menu-item">
    <img mat-card-image src="../../../assets/icons/png/outline_find_in_page_black_48dp.png" class="icon">
    <mat-card-title>
      Analisar Protocolos
      ⠀⠀⠀⠀⠀⠀
    </mat-card-title>
  </mat-card>

</div>
